Source: pysolfc
Section: games
Priority: optional
Maintainer: Bernhard Reiter <ockham@raz.or.at>
Build-Depends: debhelper (>= 7.3.0)
Build-Depends-Indep: python (>= 2.4), python-support
XS-Python-Version: >= 2.4
Standards-Version: 3.8.4
Homepage: http://pysolfc.sourceforge.net/

Package: pysolfc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-tk, python-configobj,
  python-gnome2
Recommends: python-pygame, tk-tile (>= 0.8.0), python-imaging
Replaces: pysol
Suggests: pysolfc-cardsets, freecell-solver
Conflicts: pysol, pysol-cardsets
Description: collection of more than 1000 solitaire card games
 There are games that use the 52 card International Pattern deck,
 games for the 78 card Tarock deck, eight and ten suit Ganjifa games,
 Hanafuda games, Matrix games, Mahjongg games, and games for an original
 hexadecimal-based deck.
 .
 Its features include modern look and feel (uses Ttk widget set),
 multiple cardsets and tableau backgrounds, sound, unlimited undo,
 player statistics, a hint system, demo games, a solitaire wizard,
 support for user written plug-ins, an integrated HTML help browser,
 and lots of documentation.
 .
 PySolFC is a fork of PySol Solitaire.
