#!/usr/bin/make -f

VERSION := $(shell dpkg-parsechangelog | awk '/^Version:/ { print $$2 }')

%:
	dh --with python2 --buildsystem=python_distutils $@

override_dh_gencontrol:
	dh_gencontrol -Npysol
	dh_gencontrol -ppysol -- -v"1:$(VERSION)"

override_dh_auto_install:
	dh_auto_install --buildsystem=python_distutils \
			-- --install-scripts=/usr/share/games/pysolfc \
			   --install-lib /usr/share/games/pysolfc/

override_dh_install:
	dh_install --exclude COPYRIGHT

override_dh_installdocs:
	dh_installdocs
	mv debian/pysolfc/usr/share/doc/pysolfc/all_games.html \
	   debian/pysolfc/usr/share/doc/pysolfc/html/

override_dh_installman:
	dh_installman
	mv debian/pysolfc/usr/share/man/man6/pysol.6 \
	   debian/pysolfc/usr/share/man/man6/pysolfc.6
