#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS = --install-scripts /usr/share/games/pysolfc \
                              --install-lib /usr/share/games/pysolfc

%:
	dh $@ --buildsystem=pybuild

# In this context, 'rules' are solitaire game rules in html form,
# 'all_games_html' is an index of the games, and 'mo' builds localization.
# The rest is handled by pybuild.
override_dh_auto_build:
	$(MAKE) rules all_games_html mo
	dh_auto_build

override_dh_install:
	dh_install
	# Avoid conflicting with the separate package pysolfc-cardsets.
	rm -r debian/pysolfc/usr/share/games/pysolfc/cardset-hanafuda-200-years/

# Run some parts of the test suite. Missing deps for using 'make test':
# python3-pycotap, python3-flake8-import-order, libtest-trailingspace-perl,
# libcode-tidyall-plugin-flake8-perl
override_dh_auto_test:
	TEST_TAGS=SKIP_PY2 $(MAKE) pretest
	PYTHONPATH=. prove tests/individually-importing/*.py
	set -e; for py in $(shell py3versions -s); do \
		PYTHONPATH=.:tests/lib \
		$$py -m unittest discover -v tests/lib/pysol_tests/ '*'; \
	done
